footer{
    width: auto;
    height: 460px;
    background:url(../../img/footer.png);
    margin-top: 100px;
    background-position: center;
    background-size: cover;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
}
.footer_info{
    margin-top: 5%;
    padding: 0;
    width: 300px;
    height: 400px;
}
h5{
    font-weight: bold;
}
span{
    width: 100%;
    display: block;
    margin-top: 17px;
}